/**************************/
/* BELOW 1280px (Desktops) */
/**************************/
@media (max-width: 80em) {
  .technology__gallery {
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: auto auto auto;
    width: 100%;
  }

  .technology__gallery-pic {
    width: 100%;
    align-self: stretch;
  }
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  .hero-section__decor1 {
    right: 18rem;
    font-size: 4.6rem;
  }

  .hero-section__decor2 {
    left: 4rem;
    font-size: 4.6rem;
  }

  .specs {
    min-height: 100rem;
  }

  .specs__intro {
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .specs__inner {
    padding: 0 4rem;
  }

  .specs__text {
    min-width: 14rem;
    line-height: 1.5;
  }

  .specs__text:nth-child(2) {
    padding-bottom: 2rem;
  }

  .specs__details {
    gap: 4rem;
    justify-content: space-between;
  }

  .benefits {
    margin-top: 5.12rem;
  }

  .benefits__title {
    margin-left: 1rem;
  }

  .benefits__list {
    margin-left: 1.5rem;
  }

  .technology {
    margin-bottom: 8rem;
  }
  .technology__title {
    margin-left: 1rem;
  }

  .technology__inner {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .technology__info {
    margin-bottom: 2rem;
  }

  .technology__text {
    max-width: 31rem;
  }

  .technology__image {
    width: 60%;
  }

  .footer__gallery {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  html {
    font-size: 75%;
  }

  .menu {
    justify-content: space-around;
  }

  .hero-section__title-box {
    z-index: 5;
  }

  .specs__intro {
    margin-bottom: 25vh;
  }

  .specs__intro {
    flex-direction: column;
    align-items: center;
  }

  .specs__text:nth-child(2) {
    margin-top: -1rem;
  }

  .specs__text {
    max-width: none;
  }

  .specs__image {
    width: 25%;
  }

  .specs__btn-popup {
    margin: 2rem auto;
  }

  .benefits__image {
    width: 50%;
  }

  .benefits__list,
  .benefits__btn-action {
    position: relative;
    z-index: 5;
  }

  .technology__inner {
    margin-bottom: 4rem;
  }

  .technology__list {
    margin-bottom: 4rem;
  }

  .technology,
  .technology__title {
    color: white;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    order: -1;
    margin-bottom: 3rem;
  }

  .footer__logo svg {
    width: 80%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .header {
    background-position: 45%;
  }

  .menu {
    gap: 0;
    justify-content: space-around;
    padding: 3rem 1rem;
  }

  .hero-section__title-box {
    margin-right: 5rem;
    max-width: 25rem;
  }

  .hero-section__decor2 {
    left: 1rem;
  }

  .hero-section__decor3 {
    display: none;
  }

  .specs__details {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .benefits__inner {
    flex-direction: column;
    align-items: center;
  }

  .benefits__list {
    max-width: none;
  }

  .price {
    right: 1rem;
    bottom: 1rem;
    height: 10rem;
    width: 10rem;
  }

  .benefits__btn-action {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .technology__image {
    width: 100%;
  }

  .technology__gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .technology__gallery-text,
  .technology__gallery-pic1,
  .technology__gallery-pic3 {
    display: none;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .header {
    background-position: 42%;
  }

  .hero-section {
    align-items: flex-start;
    justify-content: center;
  }

  .hero-section__title-box {
    margin-right: 0;
  }

  .menu {
    flex-direction: column;
    gap: 2rem;
  }

  .menu__btn-action {
    margin-left: 1rem;
    padding: 1.75rem 8rem;
  }

  .hero-section__decor3 {
    display: none;
  }

  .price {
    position: static;
    margin: 0 auto;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .title {
    font-size: 3rem;
  }
}
